html
  box-sizing: border-box


*,
*::before,
*::after
  box-sizing: inherit


body
  font-family $font-family
  font-style: normal
  font-size: $fz
  font-weight: 400
  line-height: $line-height
  background-color: #fff
  color: #000


p
  font-size $font-family
  line-height $line-height


.js-show
  display: block!important
