// Для импорта в диспетчер подключений: @import '../../src/modules/social/social.styl';

@import '../../stylus/variables.styl';     // только для удобства обращения к переменным


.social

  &__list
    list-style: none
    margin: 0
    padding: 0

  &__item
    margin-bottom 5px

  &__link
    color $gray

    &:hover
      color: $gray-light
      text-decoration none


