mixin social
  div.social
    ul.social__list
      li.social__item
        a.social__link(href="#") Facebook
      li.social__item
        a.social__link(href="#") Twitter
      li.social__item
        a.social__link(href="#") Instagram
      li.social__item
        a.social__link(href="#") Spotify
