// Для импорта в диспетчер подключений: @import '../../src/modules/download/download.styl';

@import '../../stylus/variables.styl';     // только для удобства обращения к переменным


.download
  padding-top 50px
  padding-bottom 50px
  padding-left 20px
  padding-right 20px
  background-color: $gray-dark-2
  color: $light

  @media (min-width $sm)
    padding-top 80px
    padding-bottom 80px
    padding-left 20px

  @media (min-width $md)
    padding-top 135px
    padding-bottom 140px
    padding-left 60px

  &__title
    margin: 0
    font-size $fz--h2
    text-transform: uppercase

  &__text
    max-width 500px
    font-size $fz--lg
    font-weight: 300
    letter-spacing -0.025em

  &__btn
    text-align: center
