mixin watch
  div.watch
    .container-fluid
      .row
        .col-md-3.no-padding
          .watch__inner
        .col-md-9.no-padding
          .row.no-margin
            .col-sm-6.col-md-4.no-padding
              +video
