// Для импорта в диспетчер подключений: @import '../../src/modules/watch/watch.styl';

@import '../../stylus/variables.styl';     // только для удобства обращения к переменным


.watch
  background-image: url("../img/bg-video.jpg")
  background-repeat no-repeat
  background-position: center
  min-height 900px


  &__inner
    background-color: $gray-dark-2

    @media (min-width: $md)
      min-height: 900px
