mixin navigation
  nav.navigation
    a.navigation__burger(id="btn-menu")
      span
      p.navigation__title menu

    ul.navigation__list(id="menu")
      li.navigation__item
        a.navigation__link(href="#") link
      li.navigation__item
        a.navigation__link(href="#") photos
      li.navigation__item
        a.navigation__link(href="#") instagram
      li.navigation__item
        a.navigation__link(href="#") links
      li.navigation__item
        a.navigation__link(href="#") contacts
