mixin view-photo
  div.view-photo
    .container
      .row
        .col-sm-6.no-padding
          .view-photo__content
            h2.view-photo__title INSTAGRAM
            p.view-photo__text.
              Etiam lacus dolor, tincidunt vitae
              nisi in, vulputate placerat odio.
              Pellentesque iaculis.
            .view-photo__btn
              a.btn(href="#") VIEW ON INSTAGRAM


    .view-photo__photo


