include ../modules/page-header/page-header
include ../modules/navigation/navigation
include ../modules/about-me/about-me
include ../modules/photos/photos
include ../modules/page-footer/page-footer
include ../modules/social/social
include ../modules/follow-me/follow-me
include ../modules/download/download
include ../modules/media/media
include ../modules/watch/watch
include ../modules/video/video
include ../modules/view-photo/view-photo
