@import "global/normalize";
@import "global/bootstrap";
@import "variables";
@import "global/fonts";
@import "global/scaffolding";
@import "global/btn";
// @import "global/fonts";
// @import "global/typo";
// @import "global/mixins";
// @import "global/base";
// @import "global/preloader";
// @import "global/grid"; // Кастомная сетка
// @import "global/animation"; // Если есть анимации
// @import "global/svg-sprite"; // Если есть SVG
@import '../../src/modules/page-header/page-header.styl';
@import '../../src/modules/navigation/navigation.styl';
@import '../../src/modules/about-me/about-me.styl';
@import '../../src/modules/photos/photos.styl';
@import '../../src/modules/page-footer/page-footer.styl';
@import '../../src/modules/social/social.styl';
@import '../../src/modules/follow-me/follow-me.styl';
@import '../../src/modules/download/download.styl';
@import '../../src/modules/media/media.styl';
@import '../../src/modules/watch/watch.styl';
@import '../../src/modules/video/video.styl';
@import '../../src/modules/view-photo/view-photo.styl';
