// Colors
$gray           =  #919191
$gray-light     =  #666666
$gray-lighten   =  #f3f1ef
$gray-dark      =  #141414
$gray-dark-2    =  #282b2f
$gray-darken    =  #212227
$gray-input     =  #4d4e52

$light  =  #f9f9f9
$green  =  #2ebd59
$blue   =  #3f729b


// Fonts
$fz      =  16px
$fz--xs  =  12px
$fz--sm  =  14px
$fz--md  =  18px
$fz--lg  =  36px
$fz--xlg =  42px
$fz--xxlg = 72px
$fz--h2  =  24px
$fz--p   =  30px

$line-height  =  1.375em
$font-family  = Fira Sans, Arial, sans-serif


// Screens
$xs  =  480px
$sm  =  768px
$md  =  992px
$lg  =  1200px
