mixin about-me
  div.about-me
    .about-me__photo
      img.about-me__img(src="../img/img-my-photo.jpg", alt="my photo")
    .container-fluid
      .row
        .col-sm-6.no-padding
        .col-sm-6.no-padding
          .about-me__discription
            h2.about-me__title Sed faucibus quis
            p.about-me__text.
              Fusce bibendum luctus massa,
              ut tincidunt lectus tincidunt in.
              Nulla tristique ipsum vitae lacus
              ullamcorper, at dictum nunc
              scelerisque.
