mixin follow-me
  div.follow-me
    h2.follow-me__title SPOTIFY
    p.follow-me__text.
      Follow me, stream and add
      my songs to your Spotify playlist.
    div.follow-me__btn
      a.btn(href="#") FOLLOW ON SPOTIFY
