mixin page-header
  header.page-header
    .container
      .row
        .col-xs-6
          a.page-header__logo(href="#")
            img(src="img/logo.png", alt="logo")
        .col-xs-6
          +navigation
      .row
        .col-sm-8
          .page-header__discription
            h1.page-header__title.
              Amazing Dude.<br>
              Amazing Life.
            p.page-header__text.
              Welcome to the personal site of <strong>John Doe</strong>.
              A professional skier and a musician.
