// Для импорта в диспетчер подключений: @import '../../src/modules/page-header/page-header.styl';

@import '../../stylus/variables.styl';     // только для удобства обращения к переменным


@keyframes logo-jump
  0%
    top 0
    left -100px
    opacity 0
  100%
    top 0
    left 15px
    opacity 1


.page-header
  height 100vh
  padding-top 15px
  background-image: url('../img/bg-header.jpg')
  background-repeat no-repeat
  background-position: right -55px top 0
  background-size: cover

  @media (min-width: $sm)
    padding-top 55px
    background-position: right 0 top 0

  @media (min-width: $md)
    padding-top 85px


  &__logo
    position: relative
    top 0
    left 15px
    opacity 0
    display: inline-block
    vertical-align: top
    animation logo-jump 1s 1s forwards

  &__discription
    position: relative

  &__title
    position: relative
    top 0
    font-size $fz--xlg
    line-height $line-height
    font-weight: 300
    letter-spacing -0.025em

    @media (min-width $sm)
      font-size $fz--xxlg

  &__text
    position: relative
    top 0
    font-size $fz--h2
    font-weight 300
    letter-spacing -0.025em

    @media (min-width $sm)
      font-size $fz--p

    strong
      font-weight 700

