// Для импорта в диспетчер подключений: @import '../../src/modules/media/media.styl';

@import '../../stylus/variables.styl';     // только для удобства обращения к переменным


.media
  background: linear-gradient(to right, $green 50%, $gray-dark-2 50%)

