mixin page-footer
  div.page-footer
    .container
      .row
        .col-sm-3
          h2.page-footer__title.
            AMAZING DUDE.<br>
            AMAZING LIFE.
          p.page-footer__text.
            Mauris ornare lobortis arcu, at sodales dolor finibus nec. In convallis risus ligula, bibendum sagittis ante cursus vitae. Donec ornare, dui nec sagittis imperdiet, nunc eros dignissim augue, ut aliquam nibh felis sit amet leo. Vivamus eu tincidunt tellus. Vestibulum quis condimentum lectus, nec aliquet lectus. Duis sollicitudin facilisis dui ac aliquet. Phasellus tempor sollicitudin augue, id hendrerit enim gravida non. Integer consequat vel arcu quis dictum. Vestibulum viverra commodo nunc eu pellentesque. Phasellus in scelerisque elit, eu ultricies mauris.

          p.page-footer__text Ⓒ2015. all rights reserved.
        .col-sm-1
        .col-sm-3
          h2.page-footer__title Contact me
          p.page-footer__text.
            1242 Crestview Terrace<br>
            Artesia Wells, TX 78001

          p.page-footer__text.
            Phone: 830-676-7974</br>
            Email: halo@sitename.com

          h2.page-footer__title FOLLOW ME ON

          +social
        .col-sm-5
          h2.page-footer__title Subscribe
          p.page-footer__text.
            Duis sollicitudin facilisis dui ac aliquet. Phasellus tempor sollicitudin augue, id hendrerit enim gravida non. Integer consequat vel arcu quis dictum. Vestibulum viverra commodo nunc eu pellentesque.
          input.page-footer__input(type="email", placeholder="ENTER YOUR EMAIL ADDRESS")
          h2.page-footer__title Sponsor
          ul.page-footer__sponsors
            li.page-footer__sponsor logo
              img(src="", alt="")
            li.page-footer__sponsor logo
              img(src="", alt="")
            li.page-footer__sponsor logo
              img(src="", alt="")
