// Для импорта в диспетчер подключений: @import '../../src/modules/page-footer/page-footer.styl';

@import '../../stylus/variables.styl';     // только для удобства обращения к переменным


.page-footer
  padding-top 90px
  background-color: $gray-darken
  min-height 200px
  color $light


  &__title
    text-transform: uppercase
    color $light
    font-size $fz--md
    font-weight 700

  &__text
    color: $gray
    font-weight 300

  &__input
    width 100%
    height 60px
    padding-left 20px
    padding-right 80px
    background-color: $gray-input
    outline none
    border: none
    color: $light

  &__sponsors
    list-style: none
    margin: 0
    padding: 0
    font-size 0

  &__sponsor
    display: inline-block
    vertical-align: top
    width 80px
    height 80px
    margin-right 20px
    padding-top 30px
    border: 1px solid #fff
    font-size $fz--xs
    text-transform: uppercase
    text-align: center

