mixin photos
  div.photos
    .container-fluid
      .row
        .col-sm-6.col-md-3.no-padding
          a.photos__link(href="#")
            img.photos__img(src="../img/img-photo-1.jpg", alt="photo")
        .col-sm-6.col-md-3.no-padding
          a.photos__link(href="#")
            img.photos__img(src="../img/img-photo-2.jpg", alt="photo")
        .col-sm-6.col-md-3.no-padding
          a.photos__link(href="#")
            img.photos__img(src="../img/img-photo-3.jpg", alt="photo")
        .col-sm-6.col-md-3.no-padding
          a.photos__link(href="#")
            img.photos__img(src="../img/img-photo-4.jpg", alt="photo")
