// Для импорта в диспетчер подключений: @import '../../src/modules/video/video.styl';

@import '../../stylus/variables.styl';     // только для удобства обращения к переменным


.video
  min-height 100px
  padding-left 20px
  padding-top 50px
  padding-right 20px
  padding-bottom 50px
  text-align center
  background-color: rgba($gray-darken, 0.75)

  @media (min-width $sm)
    padding-top 135px
    padding-bottom 95px
    padding-left 58px
    background-color: $gray-darken

  @media (min-width $md)
    padding-left 10px
    padding-right 10px

  &__inner
    display: inline-block
    vertical-align: top
    text-align left

  &__title
    margin: 0
    text-transform: uppercase
    color: $green
    font-size $fz--h2
    font-weight: 400
    margin-bottom 30px

    small
      font-size $fz--md

  &__list
    list-style: none
    margin: 0
    padding: 0
    margin-bottom 50px
    color: #fff

  &__item
    font-size: $fz--sm
    line-height: calc(21 / 14)

