mixin video
  div.video
    .video__inner
      h2.video__title Self-Effacing&nbsp;Rage<br>
        small FT.&nbsp;Fascinating Collision

      ul.video__list
        li.video__item Director: James G. Rohrer
        li.video__item Production Company: Sycamore
        li.video__item Producer: Laura S. Carlton
        li.video__item Executive Producer: Jack M. Heckart
      .video__btn
        a.btn.btn--green.btn--arrow(href="#") click to play
